@import '../shared/scss/variables.scss';


.about-me {
  padding: 0 10px;
}

.about-me__personal-data {
  margin-bottom: 30px;
}

.about-me__secondary-prof {
  margin-bottom: 30px;
}

.about-me__text-block {
  padding: 0 15px;
}
