@import '../shared/scss/variables.scss';

.contact-container {
  padding: 0 10px;
}

.contact__form_title {
  padding-bottom: 25px;
}

.contact__form_input {
  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 17px 14px;
  height: 45px;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: $main-black;
  &::placeholder {
    font-size: 0.75rem;
    line-height: 1;
    color: $main-gray;
  }
}

.contact__form_message {
  resize: none;
  margin-bottom: 30px;
  height: 135px;
  &::placeholder {
    padding-top: 3px;
  }
} 

.contact__form_btn {
  text-transform: uppercase;
  font-size: 0.75rem;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 2;
  background-color: $main-blue;;
}

.contact__info_title {
  padding-bottom: 15px;
}

:host /deep/ {
  & .soc {
    justify-content: flex-start;
    padding: 0;
  }
  & .soc__link {
    margin-right: 10px;
  }
}

.form-group.has-error .form-help-text {
  color: #fb494d;
  font-size: 13px;
}
.form-group.has-error .form-control {
  border-color: #fb494d; 
}

.form-group.has-success .form-help-text {
  color: #8cde33;
  font-size: 13px;
}

.form-group.has-success .form-control {
  border-color: #8cde33; 
}
