<nav class="nav">
  <a routerLink="about-me" routerLinkActive="nav__item_active" class="nav__item col-sm-3">
    <i class="nav__item_icon icon-torso"></i>
    <span class="nav__item_name">About Me</span>
  </a>
  <a routerLink="resume" routerLinkActive="nav__item_active" class="nav__item col-sm-3">
    <i class="nav__item_icon icon-doc-text"></i>
    <span class="nav__item_name">Resume</span>
  </a>
  <a routerLink="portfolio" routerLinkActive="nav__item_active" class="nav__item col-sm-3">
    <i class="nav__item_icon icon-briefcase"></i>
    <span class="nav__item_name">My Portfolio</span>
  </a>
  <a routerLink="contact-me" routerLinkActive="nav__item_active" class="nav__item col-sm-3">
    <i class="nav__item_icon icon-info"></i>
    <span class="nav__item_name">Contact Me</span>
  </a>
</nav>