<section class="portfolio-detail">
  <div class="container">
    <div class="row">
      <div class="portfolio-detail__header-container">
        <div class="col-sm-12 ">
          <div class="portfolio-detail__header d-flex justify-content-between align-items-center">
           <!--  <img [src]="'assets/worksLogo/' + portfolioItem.imgLink" alt="" class="portfolio-detail__header_image"> -->
            <button class="detail-btn btn btn-primary" (click)="goBack()" title="return to portfolio"><i class="icon-left"></i></button>
            <div class="portfolio-detail__source source">
              <a
                [href]="'https://github.com/Odoxar/portfolio/tree/master/' + portfolioItem.src"
                target="_blank"
                class="source__link source__link_git detail-btn btn btn-primary"
                rel="noopener"
                title="code on github"
              >
                <i class="icon-github-1"></i>
              </a>
              <a
                [href]="portfolioItem.link"
                target="_blank"
                class="source__link source__link_site detail-btn btn btn-primary"
                rel="noopener"
                title="full screen"
              >
                <div class="icon-link-ext"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio-detail__adaptive">
        <div class="col-sm-12">
          <dsa-adaptive-screen></dsa-adaptive-screen>
        </div>
      </div>
      <div class="portfolio-detail__content">
        <div class="container">
          <div class="row">
            <h4 class="content-text__title col-sm-12">Realized works:</h4>
            <div class="col-sm-12">
              <div class="portfolio-detail__content-text content-text">

                <p class="content-text__description">
                   {{ portfolioItem.description }}
                </p>
              </div>
            </div>
            <!--<div class="col-sm-4">
               <ul class="portfolio-detail__content-services content-services">
                <li class="content-services__item" *ngFor="let item of portfolioItem.services">{{ item }}</li>
              </ul>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
